:root {
  /* Base Colors */
  /* https://github.com/chromium/chromium/blob/main/ui/chromeos/styles/cros_palette.json5 */
  --c-google-blue-50-alpha: #4285f420;
  --c-google-blue-100-alpha: #4285f44d;
  --c-google-blue-50: #e8f0fe;
  --c-google-blue-300: #8ab4f8;
  --c-google-blue-400: #669df6;
  --c-google-blue-500: #4285f4;
  --c-google-blue-600: #1a73e8;
  --c-google-blue-700: #1967d2;
  --c-google-blue-800: #185abc;

  /* Theme Colors */
  --vp-c-brand-1: var(--c-google-blue-600);
  --vp-c-brand-2: var(--c-google-blue-400);
  --vp-c-brand-3: var(--c-google-blue-500);
  --vp-c-brand-soft: var(--c-google-blue-50-alpha);
}

::selection {
  background-color: var(--c-google-blue-100-alpha);
}
