@import url(./override/custom.scss);
@import url(./override/zoom.scss);
@import url(./override/blur.scss);

.screenshotList,
.imageList {
  display: flex;
  overflow: auto;
  align-items: flex-start;
}

.imageList img,
.screenshotList img {
  margin: 2px;
}

.screenshotList img,
.border-img {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
}

.screenshotList img,
.screenshotList.phone img {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.screenshotList.pad img {
  width: 600px;
  min-width: 600px;
  max-width: 600px;
}

.screenshotList.fix-height img {
  width: auto;
  min-width: unset;
  max-width: unset;
  height: 400px;
}

.banner-img {
  width: 100%;
  aspect-ratio: 740 / 186;
  object-fit: contain;
}

.cover-img {
  width: 100%;
}

.cover-img-ui {
  border-radius: 16px;
  width: 300px;
}

.exampleContaioner {
  border: 1px solid var(--vp-c-border);
  border-radius: 8px;
  padding: 0 16px;

  &::before {
    content: "示例";
    display: block;
    width: calc(100% + 16px * 2);
    margin: 0 -16px;
    border-bottom: 1px solid var(--vp-c-border);
    padding: 8px 16px;
    color: var(--vp-c-text-1);
    font-weight: 600;
  }
}
