.screenshotList {
  display: flex;
  overflow: auto;
}

.screenshotList img {
  margin: 2px;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.screenshotList img,
.border-img {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
}

.screenshotList.pad img {
  width: 600px;
  min-width: 600px;
  max-width: 600px;
}

.banner-img {
  width: 100%;
  aspect-ratio: 740 / 186;
  object-fit: contain;
}

.cover-img {
  width: 100%;
}
